/IPP/two/__pycache__
/IPP/three/__pycache__
/IPP/five/__pycache__
/IPP/eight/__pycache__
/IPP/nine/__pycache__
/IPP/fifteen/cropped
/IPP/fifteen/video_frames
/IPP/fifteen/jupiter_stacked.tif
/IPP/fifteen/enhanced.tif
/MAwP/04/__pycache__
/MAwP/05/__pycache__
/MAwP/06/__pycache__
/MAwP/07/__pycache__
/MAwP/08/__pycache__
/MAwP/09/__pycache__
/MAwP/10/__pycache__
/MAwP/11/__pycache__
/MAwP/12/__pycache__
/pygame/__pycache__
/pygame/automata_map/__pycache__
/pygame/brikz/__pycache__
/pygame/bugz/__pycache__
/pygame/cave/__pycache__
/pygame/engine/__pycache__
/pygame/futbol/__pycache__
/pygame/hexes/__pycache__
/pygame/hexes/*.png
/pygame/hthad/__pycache__
/pygame/hthad/*.png
/pygame/intersections/__pycache__
/pygame/isometric/__pycache__
/pygame/isometric/*.png
/pygame/huevos/__pycache__
/pygame/huevos/replays
/pygame/invader/__pycache__
/pygame/nulltima/__pycache__
/pygame/NOC/__pycache__
/pygame/noise/__pycache__
/pygame/pawng/__pycache__
/pygame/rabbit_run/__pycache__
/pygame/rabbit_run/high.txt
/pygame/racer/__pycache__
/pygame/strata/__pycache__
/pygame/thud/__pycache__
/pygame/tutorials/__pycache__
/pygame/tutorials/app/__pycache__
/pygame/voronoi/__pycache__
/RPGs/traveller/__pycache__
/RPGs/traveller/ledger.txt
/RPGs/traveller/star_map.txt
/RPGs/traveller/src/__pycache__
/RPGs/traveller/test/__pycache__
/RPGs/traveller/saves/save_game*.json
/RPGs/traveller/saves/*.png
