/IPP/two/__pycache__
/IPP/three/__pycache__
/IPP/five/__pycache__
/IPP/eight/__pycache__
/IPP/nine/__pycache__
/IPP/fifteen/cropped
/pygame/__pycache__
/pygame/brikz/__pycache__
/pygame/bugz/__pycache__
/pygame/cave/__pycache__
/pygame/engine/__pycache__
/pygame/futbol/__pycache__
/pygame/hexes/__pycache__
/pygame/hexes/*.png
/pygame/isometric/__pycache__
/pygame/isometric/*.png
/pygame/huevos/__pycache__
/pygame/huevos/replays
/pygame/invader/__pycache__
/pygame/nulltima/__pycache__
/pygame/NOC/__pycache__
/pygame/noise/__pycache__
/pygame/pawng/__pycache__
/pygame/rabbit_run/__pycache__
/pygame/rabbit_run/high.txt
/pygame/racer/__pycache__
/pygame/thud/__pycache__
/pygame/tutorials/__pycache__
/pygame/tutorials/app/__pycache__
