/pygame/__pycache__
/pygame/brikz/__pycache__
/pygame/bugz/__pycache__
/pygame/cave/__pycache__
/pygame/engine/__pycache__
/pygame/futbol/__pycache__
/pygame/invader/__pycache__
/pygame/nulltima/__pycache__
/pygame/pawng/__pycache__
/pygame/rabbit_run/__pycache__
/pygame/rabbit_run/high.txt
/pygame/tutorials/__pycache__
/pygame/tutorials/app/__pycache__
